.profileScreen{
    height:100vh;
    color:white;

}
.profileScreen__body{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:20px;
    max-width: 800px;
}
.profileScreen__body > h1{
font-size: 60px;
font-weight: 400;
border-bottom: 1px  solid #202729;
margin-bottom: 20px;

}

.profileScreen__info{

    display: flex;
}

.profileScreen__info > img{
    height: 100px;
    

}
.profileScreen__details{
color: white;
margin-left: 25px;
flex: 1;
}

.profileScreen__details>h2{

    
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__plans >h3{

    padding-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #202729;
    padding-bottom: 5px;
}

.profileScreen__subscribedate>h3{
font-size: 13px;
font-weight: 400px;

}

.profileScreen_subscribe{
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.profileScreen__button{
    padding: 10px 30px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: 600;
}





.profileScreen_signout{
    padding:10px 20px;
    font-size:1rem;
    margin-top:5%;
    width:100%;
    background-color: red;
    color: white;
    border:none;
    cursor: pointer;
}
